.contact__container{
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    column-gap: 6rem;
    padding-bottom: 3rem;
}

.contact__title{
    margin-bottom: 2rem;
}

.contact__info{
    display: grid;
    row-gap: 1rem;
    grid-template-columns: 300px;
}

.contact__card{
    background-color: var(--container-color);
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 1rem;
    border-radius: 0.75rem;
    text-align: center;
}

.contact__card-icon{
    height: 2rem;
    margin-bottom: 0.25rem;
}

.contact__card-title,
.contact__card-data{
    font-size: var(--small-font-size);
}

.contact__card-data{
    display: block;
    margin-bottom: 0.75rem;
}

.contact__button{
    color: var(--text-color);
    font-size: var(--small-font-size);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.25rem;
}

.contact__button-icon{
    height: 1.2rem;
    transition: 0.3s;
}

.contact__button:hover .contact__button-icon{
    transform: translate(0.25rem);
}


/* Breakpoints */
/* For large devices */
@media screen and (max-width: 992px) {
    .contact__container{
        column-gap: 3rem;
    }
}

/* For medium devices */
@media screen and (max-width: 768px) {
    .contact__container{
        grid-template-columns: 1fr;
        row-gap: 3rem;
    }

    .contact__info{
        justify-content: center;
    }
}

@media screen and (max-width: 576px) {
    .contact__info{
        grid-template-columns: 1fr;
    }
}

