.card{
    border-radius: 25px;
    background-color: white;
}

.card__image{
    position: relative;
    height: 100px;
    width: 100px;
    border-radius: 50%; 
    background: white;
    padding: 3px;
}
.card__image .card__img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid rgba(0, 0, 0, 0.6);
}

.slide__container{
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1120px;
    width: 100%;
}

.slide__content{
    margin: 0 40px;
}

.image__content,
.card__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px; 
}

.image__content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}

.nome{
    font-size: 18px;
    font-weight: 500;
    color: #333;
}

.description{
    font-size: 14px;
    color: #707070;
    text-align: center;
}

.overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--moov-color);
    border-radius: 25px 25px 0 25px;
}

.overlay::before,
.overlay::after{
    content: "";
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: var(--moov-color);
}

.overlay::after{
    border-radius: 0 25px 0 0;
    background-color: white;
}

@media screen and (max-width: 768px){
    .slide-content{
        margin: 0 10px;
    }

    .swiperBtn{
        display: none !important ;
    }
}